mongodb/backups
mongodb/script
mongodb/bdd/WiredTiger.turtle
mongodb/bdd/WiredTiger.wt
mongodb/bdd/WiredTigerLAS.wt
mongodb/bdd/_mdb_catalog.wt
mongodb/bdd/collection-2--362721966095288620.wt
mongodb/bdd/collection-4--362721966095288620.wt
mongodb/bdd/diagnostic.data/metrics.2020-02-26T10-29-49Z-00000
mongodb/bdd/diagnostic.data/metrics.interim
mongodb/bdd/index-3--362721966095288620.wt
mongodb/bdd/index-5--362721966095288620.wt
mongodb/bdd/index-6--362721966095288620.wt
mongodb/bdd/journal/WiredTigerLog.0000000009
mongodb/bdd/journal/WiredTigerPreplog.0000000001
mongodb/bdd/journal/WiredTigerPreplog.0000000002
mongodb/bdd/sizeStorer.wt