<!doctype html>
<title>Find my CVE</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
<body>
<section class="content">
  <h1 class="results">Find my CVE</h1>>
  
  <form method="POST">
    <ul style="list-style-type: none;">
      <li><input type="checkbox"> JS</li>
      <li><input type="checkbox"> PHP</li>
      <li><input type="checkbox"> Python</li>
      <li><input type="checkbox"> Java</li>
      <input type="submit" name="submit" placeholder="Submit"/>
    </ul>
  </form>
</section>
</body>