<!doctype html>
<title>PSN Search</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
<div class="logo-container">
<img class="logo" src="../static/images/Logo PSN.png">
</div>
<form method="POST">
    <input
      placeholder="Search for..."
      class="textbox"
      name="search"
    />
</form>
<div class="results">
    <ul>
        <h5>{{count}} résultat(s) trouvés</h5>
{% for r in results %}
    <li style="list-style-type: none;">
    <h3><a href="{{r['_source']['url']}}">{{r['_source']['url']}}</a></h3>
    <h4>{{r['_source']['description']}}<br><br></h4>
  </li><br>
    
{% endfor %}
    </ul>
</div>